/* colors.css */

:root {
  /* PRIMARY */
  --primary-100: #E6E2F8;
  --primary-200: #CEC4F6;
  --primary-300: #B2A2F9;
  --primary-400: #9178FA;
  --primary-500: #7152F3;
  --primary-600: #5D3DE7;
  --primary-700: #4F31D0;
  --primary-800: #3517B4;
  --primary-900: #250C92;

  --primary-90: rgba(113, 82, 243, 0.9);
  --primary-80: rgba(113, 82, 243, 0.8);
  --primary-20: rgba(113, 82, 243, 0.2);
  --primary-10: rgba(113, 82, 243, 0.1);
  --primary-5:  rgba(113, 82, 243, 0.05);

  /* SECONDARY */
  --secondary-100: #E1F1BC;
  --secondary-200: #CEE993;
  --secondary-300: #BCDE6B;
  --secondary-400: #AFD751;
  --secondary-500: #A3D139;
  --secondary-600: #97BD33;
  --secondary-700: #88A52A;
  --secondary-800: #798D21;
  --secondary-900: #626615;

  --secondary-90: rgba(163, 209, 57, 0.9);
  --secondary-80: rgba(163, 209, 57, 0.8);
  --secondary-20: rgba(163, 209, 57, 0.2);
  --secondary-10: rgba(163, 209, 57, 0.1);
  --secondary-5:  rgba(163, 209, 57, 0.05);

  /* TERTIARY */
  --tertiary-100: #F0B0D9;
  --tertiary-200: #E67BC2;
  --tertiary-300: #D846AB;
  --tertiary-400: #CD0D9B;
  --tertiary-500: #B21589;
  --tertiary-600: #AF0A87;
  --tertiary-700: #9B0982;
  --tertiary-800: #8A087C;
  --tertiary-900: #6C0772;

  --tertiary-90: rgba(178, 21, 137, 0.9);
  --tertiary-80: rgba(178, 21, 137, 0.8);
  --tertiary-20: rgba(178, 21, 137, 0.2);
  --tertiary-10: rgba(178, 21, 137, 0.1);
  --tertiary-5:  rgba(178, 21, 137, 0.05);

  /* DARK */
  --dark-500: #16151C;
  --dark-90: rgba(22, 21, 28, 0.9);
  --dark-80: rgba(22, 21, 28, 0.8);
  --dark-20: rgba(22, 21, 28, 0.2);
  --dark-10: rgba(22, 21, 28, 0.1);
  --dark-5:  rgba(22, 21, 28, 0.05);

  /* GRAY */
  --gray-500: #A2A1A8;
  --gray-90: rgba(162, 161, 168, 0.9);
  --gray-80: rgba(162, 161, 168, 0.8);
  --gray-20: rgba(162, 161, 168, 0.2);
  --gray-10: rgba(162, 161, 168, 0.1);
  --gray-5:  rgba(162, 161, 168, 0.05);

  /* LIGHT */
  --light-500: #D9E1E1;
  --light-90: rgba(217, 225, 225, 0.9);
  --light-80: rgba(217, 225, 225, 0.8);
  --light-20: rgba(217, 225, 225, 0.2);
  --light-10: rgba(217, 225, 225, 0.1);
  --light-5:  rgba(217, 225, 225, 0.05);

  /* WHITE */
  --white-500: #FFFFFF;
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-5:  rgba(255, 255, 255, 0.05);

  /* COLOR OPTIONS */
  --color-option-1: #00c39a;
  --color-option-2: #00b4c6;
  --color-option-3: #7061ff;
  --color-option-4: #3c54ff;

  /* GRADIENTS */
  --gradient-1: linear-gradient(135deg, #7FBE30 0%, #30A5BE 100%);
  --gradient-2: linear-gradient(135deg, #30BEB6 0%, #3069BE 100%);
  --gradient-3: linear-gradient(135deg, #5D30BE 0%, #B330BE 100%);
}
